<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- Spring业务加载配置文件-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/configs/beluga-application.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>contextConfigLocation</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- proxool连接池-->
	<servlet>
		<servlet-name>proxoolServletConfigurator</servlet-name>
		<servlet-class>
			org.logicalcobwebs.proxool.configuration.ServletConfigurator
		</servlet-class>
		<init-param>
			<param-name>xmlFile</param-name>
			<param-value>WEB-INF/proxool.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>proxooladmin</servlet-name>
		<servlet-class>
			org.logicalcobwebs.proxool.admin.servlet.AdminServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proxooladmin</servlet-name>
		<url-pattern>/proxooladmin</url-pattern>
	</servlet-mapping>

	<!-- log4j日志-->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/configs/log4j.properties
		</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

<!--公共服务-->
	<servlet>
		<servlet-name>PUB</servlet-name>
		<servlet-class>com.haina.beluga.webservice.OUServlet</servlet-class>
		<init-param>
			<param-name>service-class</param-name>
			<param-value>com.haina.beluga.webservice.PubService</param-value>
		</init-param>
		<init-param>
			<param-name>service-api</param-name>
			<param-value>com.haina.beluga.webservice.IPubService</param-value>
		</init-param>
		<init-param>
			<param-name>method</param-name>
			<param-value>call</param-value>
		</init-param>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>PUB</servlet-name>
		<url-pattern>/pub</url-pattern>
	</servlet-mapping>
		<!--个人服务-->
<servlet>
		<servlet-name>PRI</servlet-name>
		<servlet-class>com.haina.beluga.webservice.OUServlet</servlet-class>
		<init-param>
			<param-name>service-class</param-name>
			<param-value>com.haina.beluga.webservice.PriService</param-value>
		</init-param>
		<init-param>
			<param-name>service-api</param-name>
			<param-value>com.haina.beluga.webservice.IPriService</param-value>
		</init-param>
		<init-param>
			<param-name>method</param-name>
			<param-value>call</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>PRI</servlet-name>
		<url-pattern>/pri</url-pattern>
	</servlet-mapping>
	<!-- test-->
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>
			com.oucenter.webservice.HelloServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
</web-app>